.mat-dialog-content {
  height: 90%;

  .title {
    text-align: center;
  }

  .new-game-form {
    height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}
