<div mat-dialog-content>
  <h3 class="title">Create New Game Score Sheet</h3>
  <form [formGroup]="form"
        *ngIf="form"
        class="new-game-form">
    <mat-form-field>
      <mat-label>Amount of players</mat-label>
      <mat-select formControlName="playersAmount">
        <mat-option *ngFor="let option of playersAmountOptions"
                    [value]="option">
          {{option}} {{option > 1 ? "players" : "player"}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container *ngFor="let playerName of playersNames; let i = index">
      <mat-form-field *ngIf="form.controls['player' + i]">
        <input matInput
               label="player name"
               [maxLength]="10"
               [formControlName]="'player' + i"
               [placeholder]="(i + 1) + '. User Name'"
               [value]="playerName">
      </mat-form-field>
    </ng-container>
  </form>
</div>
<div mat-dialog-actions
     class="actions">
  <button mat-raised-button
          color="secondary"
          (click)="onCancelClick()">Cancel
  </button>
  <button mat-raised-button
          color="primary"
          [disabled]="form.invalid || selectedPlayersAmount <= 0"
          (click)="createScoreSheet()">Create
  </button>
</div>
