@import '~@angular/material/theming';

$two-pack-theme-primary: mat-palette($mat-indigo);
$two-pack-theme-accent: mat-palette($mat-light-blue);
$two-pack-theme-warn: mat-palette($mat-red);
$two-pack-theme: mat-light-theme(
    $two-pack-theme-primary,
    $two-pack-theme-accent,
    $two-pack-theme-warn
);

:root {
  --primary: #3f51b5;
  --secondary: #03a9f4;
  --warn: #f44336;
}
