<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="title-container">
      <img src="../assets/yahtzee.png"
           alt="">
      <h1 class="title">{{title}}</h1>
    </div>
    <span class="spacer"></span>
    <button mat-raised-button
            class="new-game"
            (click)="newGameClick()">
      New
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<app-score-table *ngIf="playersList; else noContent" [players]="playersList"></app-score-table>

<ng-template #noContent>
  <div class="no-content">
    <mat-icon>mode_comment</mat-icon>
    <h3>
      Score Sheet Table will be presented here,<br>
      add new one to play!
    </h3>
  </div>
</ng-template>
