.title-container {
  display: flex;
  justify-content: space-between;

  img {
    height: 32px;
    padding-right: 5px;
  }

  .title {
    padding-right: 5px;
  }
}

.spacer {
  flex: 1 1 auto;
}

.new-game {
  min-width: 64px;
}

.no-content {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: dimgray;

  .mat-icon {
    height: 50px;
    width: 50px;
    font-size: 50px;
  }

  h3 {
    text-align: center;
  }
}
