@import "styles/theme.scss";
@import '~material-icons/iconfont/material-icons.css';

@include mat-core();
@include angular-material-theme($two-pack-theme);

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
